.contact-page-form h3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    margin: 35px 0px 25px;
    font-weight: 800;
    color: #3d3d3d;
    text-transform: uppercase;
}

.map-overlay h3 {
    color: #fff;
    border-bottom: 2px solid #d2282e;
    padding-bottom: 15px;
}

.map-overlay {
    background: #000;
    -webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
    width: 500px;
    height: 520px;
    position: relative;
    float: left;
    z-index: 300;
    left: 0px;
    top: 675px;
    padding: 25px;
    margin-top: -550px;
    border: 3px solid #fff;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.map-overlay p {
    color: #fff;
}

.btn-primary {
  width: 100%;
}

.contact-right-info {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .contact-right-info {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .contact-right-info {
    text-align: left;
  }
}